<!doctype>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="container body-content" style="margin-top: 20px;">
        <div class="row">
            <img src="/imgs/woden.png" class="pull-left" />
            <img src="/imgs/bo.jpg" class="pull-right" />
        </div>
        <%- body %>
            <footer>

            </footer>
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/plugins/jquery.form.min.js"></script>
    <script src="/lib/plugins/jquery.validate.min.js"></script>
    <script src="/lib/knockout/dist/knockout.js"></script>
    <script src="/lib/toastr/toastr.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>